.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini

*.log
*.swp
*~
.DS_Store

.VolumeIcon.icns
.Trashes
Icon?
.fseventsd-*

*.kmem
*.crash
*.spin
*.spindump

/boot/
/library/
/system/
/user/
/var/

!.gitkeep
